{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'tenant/images/icon/stayEase_icon.png' %}" />
    <title>Stayease Tenant form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'tenant/css/tenant-success-v1.css' %}">
</head>

<body>
    <main class="container">
        <div class="success">
            <h3><i class="fa fa-check-circle"></i> Data Submitted Successfully</h3>
            We have successfully received your details. Please note that your information is secure with us and will not be shared with others.
        </div>
    </main>

</body>

</html>