* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

h3 {
    color: #eba312;
    padding-bottom: 1rem;
}

.success {
    border: 1px solid #eba312;
    padding: 20px;
    text-align: center;
    width: 50vw;
}

@media (max-width: 700px) {
    .success {
        width: 75vw;
    }
}

@media (max-width: 360px) {
    .success {
        border: none;
        width: 100vw;
    }
}